<div class="menu container-fluid ">
  <div class="container-fluid">
    <h1 class="text-center">
      <mark>Simon's Hummus Laboratory - Menu sample
      </mark>
    </h1>
    <h3 class="text-center">
      <mark>The best Hummus and other delicatessen specialties.</mark>
    </h3>
    <div class="bgwhite container">
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered table-responsive ">
            <thead>
              <tr>
                <th class="col-2">#</th>
                <th class="col-6">Meal</th>
                <th class="col-4">Price</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-sm-4">
          <img src="../../assets/images/hummus-falafel.jpg" class="img-responsive" style="height:40px" alt="Hummus Mashrooms">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered table-responsive ">
            <tbody>
              <tr>
                <td class="col-2">1</td>
                <td class="col-6">Hummus with Mashroom</td>
                <td class="col-4">101 baht</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Hummus with Shakshuka</td>
                <td>102 baht</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Hummus with Chickpeas</td>
                <td>103 baht</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <img src="../../assets/images/hummus-falafel.jpg" class="img-responsive" style="width:200px" alt="Hummus Mashrooms">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered table-responsive ">
            <tbody>
              <tr>
                <td class="col-2">4</td>
                <td class="col-6">Hummus with Falafel</td>
                <td class="col-4">104 baht</td>

              </tr>
              <tr>
                <td>5</td>
                <td>Shakshuka Special</td>
                <td>105 baht</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Hummus Masbacha</td>
                <td>106 baht</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <img src="../../assets/images/hummus-falafel.jpg" class="img-responsive" style="width:200px" alt="Hummus Mashrooms">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered table-responsive ">
            <tbody>
              <tr>
                <td class="col-2">7</td>
                <td class="col-6">Schnitzel mash salad</td>
                <td class="col-4">107 baht</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Spaghetti Bolognese</td>
                <td>108 baht</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Chicken Potatoes</td>
                <td>109 baht</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <img src="../../assets/images/hummus-falafel.jpg" class="img-responsive" style="width:200px" alt="Hummus Mashrooms">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered table-responsive ">
            <tbody>
              <tr>
                <td class="col-2">10</td>
                <td class="col-6">Home Made Fried Potatos</td>
                <td class="col-4">107 baht</td>
              </tr>
              <tr>
                <td>11</td>
                <td>Burekas with Cheeze</td>
                <td>108 baht</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Burekas with Cheeze</td>
                <td>109 baht</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <img src="../../assets/images/hummus-falafel.jpg" class="img-responsive" style="width:200px" alt="Hummus Mashrooms">
        </div>
      </div>
    </div>



    <div class="bgwhite container">
      <div class="row">
        <div class="col-sm-12 services">
          <h2>
            <b>Simon's Pattaya Hummus Laboratory - Restaurant Services</b>
          </h2>
          <h3>
            <b>Defiantly The Best Hummus In Thailand</b>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 services">
          <h3>A variety of our famous breakfasts</h3>
          <ul>
            <li>Full breakfast. You can choose the style of cooking the egg – fried eggs/ scrambled eggs, vegetable salad and
              drinking a cup of coffee or tea</li>
            <li>Shakshuka. Fried egg cooked in spicy tomato sauce, served with bread or pita</li>
            <li>Breakfast Special. Including home omelette – eggs mixed with vegetables and cheese set, yellow cheese, white
              cheese and cream cheese</li>
          </ul>
        </div>
        <div class="col-sm-6 services">
          <img src="../../assets/images/burekas1.jpg" class="img-responsive" style="width:400px" alt="Hummus Mashrooms">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 services">
          <img src="../../assets/images/burekas1.jpg" class="img-responsive" style="width:400px" alt="Hummus Mashrooms">
        </div>
        <div class="col-sm-6 services">
          <h3>Hummus plates</h3>
          <p>Our hummus we produce natural and healthy process granules to the plate without any substances and chemicals while
            ensuring and maintaining the freshness and turnover chickpeas</p>

          <p>Our hummus dishes there is no substitute or competition in Pattaya, quality, taste and quantity of the dose</p>
          <p>And most importantly, our home made pita breads are the perfect companion to a delicious hummus meal.</p>
          <ul>
            <li>Original hummus plate – chickpeas seasoned with olive oil</li>
            <li>A plate of hummus and tahini – combined with tahini hummus and olive oil seasoning</li>
            <li>Mushroom hummus dish – hummus combined sauteed mushrooms in olive oil</li>
            <li>A plate of hummus and meat – beef combined hummus fried in olive oil and herbs</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 services">
          <h3>Baking products</h3>

          <p>Baking products are made in our place every day for the pleasure of diners, and can make reservations in the amount
            of products prior coordination to events or trips outside the restaurant
          </p>
          <ul>
            <li>Burekas cheese – pastry filled with cheese with olives and mushrooms</li>
            <li>Burekas potatoes – mashed potato pastry filling, herbs and onions</li>
            <li>Burekas meat – a pastry filled with spicy ground beef</li>
            <li>Pita bread – baking fresh pita bread daily in the restaurant</li>
            <li>Roll – baking fresh rolls daily in the restaurant</li>
          </ul>
        </div>
        <div class="col-sm-6 services">
          <img src="../../assets/images/burekas1.jpg" class="img-responsive" style="width:400px" alt="Hummus Mashrooms">
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-sm-6 services">
            <img src="../../assets/images/burekas1.jpg" class="img-responsive" style="width:400px" alt="Hummus Mashrooms">
          </div>
          <div class="col-sm-6 services">
            <h3>Light meals</h3>

            <p>Our restaurant serves a selection of regular Light meals for the day, Light meals, satisfying and taste the best
              of our famous recipes served to the last decade
            </p>
            <p>Wiener schnitzel – fried chicken breast topped with crispy spiced additions</p>
            <ul>
              <li>Schnitzel fish – fried Nile perch/Pacific Dory in a crispy coating additions</li>
              <li>Jerusalem mix – Mix fried chicken with onions and spices [Hearts, breast, liver] additions</li>
              <li>Beef kebab – ground beef patties seasoned additions</li>
              <li>The house Soup, chicken soup or vegetable soup and more ..</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 services">
            <h3>Food and Cooking</h3>

            <p>Home cooking specialized in our homemade, and popular tastes, our goal is to give the dines / traveler which
              is far from his country the home feeling
            </p>
            <ul>
              <li>Potatoes chicken dinner – chicken baked with potatoes and onion seasoning mushrooms and spices</li>
              <li>Spaghetti Napolitana – rich sauce spaghetti with tomato, garlic and spices</li>
              <li>Spaghetti Bolognese – Spaghetti sauce rich with beef, tomatoes, garlic and spices</li>
              <li> Stew Saturday – Includes special cooking stew beef, chicken, potatoes, eggs and beans</li>
            </ul>
          </div>
          <div class="col-sm-6 services">
            <img src="../../assets/images/burekas1.jpg" class="img-responsive" style="width:300px" alt="Hummus Mashrooms">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 services">
            <img src="../../assets/images/burekas1.jpg" class="img-responsive" style="width:300px" alt="Hummus Mashrooms">
          </div>
          <div class="col-sm-6 services">
            <h3>The house Cakes</h3>

            <p>House cakes baked on continuing the line of the character of the restaurant with an emphasis on quality products
              and natural as in the motto “real cake and noncommercial” What makes the difference between a cake Commercial
              [Full margarine and dyes and flavor] real cake as the mother and aunt prepare in natural fruit, cheese and
              quality dough by hand and feeling for various flavors
            </p>
            <ul>
              <li>Lemon semolina cake</li>
              <li>Apple pie with crumb crust</li>
              <li>Cheesecake topped with strawberry / vanilla</li>
              <li>Chocolate fudge cake</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
