<div class="menu container-fluid ">
  <div class="container-fluid">
      <h1 class="text-center"><mark>Simon's Hummus Laboratory - Menu sample
        </mark></h1>   
      <h3 class="text-center"><mark>The best Hummus and other delicatessen specialties.</mark></h3>                  
      <table class="table table-bordered table-responsive ">
        <thead>
          <tr>
            <th class="col-1" >#</th>
            <th class="col-5" >Meal</th>
            <th class="col-2" >Price</th>
            <th class="col-4" >.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span>1</span></td>
            <td><span>Hummus with Mashroom</span></td>
            <td><span>101 baht</span></td>
            <td rowspan="3"><img src="../../assets/images/hummus-mashrooms1.jpg" class="img-responsive" style="width:300px" alt="Hummus Mashrooms">
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Hummus with Shakshuka</td>
            <td>102 baht</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Hummus with Chickpeas</td>
            <td>103 baht</td>
          </tr>
          <tr>
              <td>4</td>
              <td>Hummus with Falafel</td>
              <td>104 baht</td>
              <td rowspan="3"><img src="../../assets/images/hummus-falafel.jpg" class="img-responsive" style="width:300px" alt="Hummus Mashrooms">
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Shakshuka Special</td>
              <td>105 baht</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Hummus Masbacha</td>
              <td>106 baht</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Schnitzel mash salad</td>
                <td>107 baht</td>
                <td rowspan="3"><img src="../../assets/images/spaghetti-bolognese.jpg" class="img-responsive" style="width:300px" alt="Hummus Mashrooms">
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>Spaghetti Bolognese</td>
                <td>108 baht</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Chicken Potatoes</td>
                <td>109 baht</td>
              </tr>
              <tr>
                  <td>10</td>
                  <td>Home Made Fried Potatos</td>
                  <td>107 baht</td>
                  <td rowspan="3"><img src="../../assets/images/burekas1.jpg" class="img-responsive" style="width:300px" alt="Hummus Mashrooms">
                  </td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Burekas with Cheeze</td>
                  <td>108 baht</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Burekas with Cheeze</td>
                  <td>109 baht</td>
                </tr>
        </tbody>
      </table>
    </div>

</div>
